h3 {
    color: blueviolet;
    font-size: xx-large; 
}
h4 {
    color: rgb(19, 206, 75);
    font-size: xx-large;
}
* 

p {color: white;
   font-size: x-large;
}

body {
    background-image: url(bloodmoon.jpg)
}